.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#show { 
display: block;
}

.dropdown-content {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  background-color: gray;
  width: 9%;
  margin: 0 auto
}

.links:hover {
  background-color: #ffc402;
}

